$white-color: #ffffff;
$black-color: #000000;
$red-color: #ff1100;

$primary-blue-color: #5e46f1;
$primary-grey-color: #f9f9fe;
$primary-white-color: #dbdbdb;

$secondary-blue-color: #4b77f9;
$secondary-orange-color: #fce4e4;

$neutral-dark-grey-color: #777e90;
